<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="padding-left: 20px; padding-right: 20px;">
  <div class="container-fluid">
    <img src="../../resources/img/wave.png" class="sound" style="color">
    <a class="navbar-brand" href="#">TuneSign</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/home">Zodiac</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto"> 
        <li class="nav-item">
          {{#if user}}
            <a class="nav-link" href="/logout">Logout</a>
          {{else}}
            <a class="nav-link" href="/login">Login</a>
          {{/if}}
        </li>
      </ul>
  </div>
</nav>

<style>
    .navbar-brand {
      color: white !important;
      font-weight: bold;
    }

    .navbar-nav .nav-link {
      color: white !important;
    }

    .navbar-nav .nav-link:hover {
      color: #9a9292 !important;
    }

    .sound {
      max-height: 40px;
    }
</style>
