<style>
    body {
        background-color: #f4f4f4;
        padding-top: 10vh; /* padding for navbar */
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .carousel .carousel-item{
        height: 100%;
        padding-left: 80px;
        padding-right: 40px;
    }
    .carousel-item .img{
        z-index: 1;
        object-fit: cover;
        top:0;
        left:0;
        height:80%;
    }

    #white{
        z-index:20;
        position: absolute;
        color: white;
        left:10%;
        bottom:10%;
    }
    #black{
        z-index:20;
        position: absolute;
        color: black;
        left:10%;
        top:10%;
    }

    .carousel-control-next,
    .carousel-control-prev{
        position: fixed;
        filter: invert(100%);
        transform: translateY(535px);
        
        width: -30px; /* Adjust as needed */
        height: 30px; /* Adjust as needed */
        padding: 5px; /* Adjust as needed */
    }


    .col-md-6 {
        display: flex;
        align-items: center;
        margin-right: -65px;
    }

    .col-md-6 img {
        margin-right: auto;
        max-width: 90%;
        height: auto;
        border-radius: 10px;
    }

    .carousel-indicators {
    position: fixed;
    bottom: 60px;
    align-items: center;
    transform: translateX(185px);
    z-index: 1000; /* Ensure it's above other content */
    background-color: rgba(40, 38, 38, 0.5);
    padding: 10px;
    border-radius: 10px;
    max-width: 40%;
}

</style>

<div class="carousel slide" id="about-page">
    
    <div class="carousel-inner">
        <div class="carousel-item active" id="carousel-item-1">
            <div class="card">
                <div class="card-body">
                    <h2>About TuneSign</h2>
                    <p>Welcome to TuneSign! We're passionate about connecting music lovers with their astrological signs. Whether you're a fiery Aries rocking out to heavy metal or a dreamy Pisces drifting away to ambient tunes, TuneSign helps you discover your musical zodiac match.</p>
                    <p>Our algorithm analyzes your music preferences and personality traits to recommend the perfect zodiac sign that resonates with your vibe. Unlock the secrets of the stars through your favorite tunes with TuneSign!</p>

                    {{#if user}}
                        <a href="/home">Get Started</a>
                    {{else}}
                        <a href="/login">Get Started</a>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>

    <div class="carousel-inner">
        <div class="carousel-item" id="carousel-item-2">
            <div class="row">
                <!-- Image Column -->
                <div class="col-md-6">
                    <img src="../../resources/img/zodiac/Sagittarius.png" alt="Zodiac Image">
                </div>
                <!-- Text Column -->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Sagittarius</h5>
                            <p class="card-text">"Spontaneous and entertaining, people under the Sagittarius sign love to explore and break boundaries. They often listen to alternative or rock music."</p>
                            <button type="button" data-bs-target="#about-page" data-bs-slide-to="0" class="active">Home</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item" id="carousel-item-2">
            <div class="row">
                <!-- Image Column -->
                <div class="col-md-6">
                    <img class="d-block w-100" src="../../resources/img/zodiac/Scorpio.png" alt="Zodiac Image">
                </div>
                <!-- Text Column -->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Scorpio</h5>
                            <p class="card-text">"Intense and wild, people under the Scorpio sign tend to have great depth of emotion. They tend to listen to soul or metal music."</p>
                            <button type="button" data-bs-target="#about-page" data-bs-slide-to="0" class="active">Home</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item" id="carousel-item-2">
            <div class="row">
                <!-- Image Column -->
                <div class="col-md-6">
                    <img class="d-block w-100" src="../../resources/img/zodiac/Taurus.png" alt="Zodiac Image">
                </div>
                <!-- Text Column -->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Taurus</h5>
                            <p class="card-text">"Loyal and reliable, people under the Taurus sign are often connected with nature and their senses. They tend to listen to country or R&B music."</p>
                            <button type="button" data-bs-target="#about-page" data-bs-slide-to="0" class="active">Home</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item" id="carousel-item-2">
            <div class="row">
                <!-- Image Column -->
                <div class="col-md-6">
                    <img class="d-block w-100" src="../../resources/img/zodiac/Virgo.png" alt="Zodiac Image">
                </div>
                <!-- Text Column -->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Virgo</h5>
                            <p class="card-text">"Perfectionist, diligent, and organized, people under the Virgo sign tend to be crafty and pay close attention to detail. They often listen to instrumental or classsical music."</p>
                            <button type="button" data-bs-target="#about-page" data-bs-slide-to="0" class="active">Home</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item" id="carousel-item-2">
            <div class="row">
                <!-- Image Column -->
                <div class="col-md-6">
                    <img class="d-block w-100" src="../../resources/img/zodiac/Leo.png" alt="Zodiac Image">
                </div>
                <!-- Text Column -->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Leo</h5>
                            <p class="card-text">"Confident and loyal to themselves, people under the Leo sign tend to like being in the spotlight. They often like trendy or pop music."</p>
                            <button type="button" data-bs-target="#about-page" data-bs-slide-to="0" class="active">Home</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item" id="carousel-item-2">
            <div class="row">
                <!-- Image Column -->
                <div class="col-md-6">
                    <img class="d-block w-100" src="../../resources/img/zodiac/Libra.png" alt="Zodiac Image">
                </div>
                <!-- Text Column -->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Libra</h5>
                            <p class="card-text">"Empathetic, comforting, and unconfrontational, people under the Libra sign tend to love balance and harmony. They tend to like alternative or pop music."</p>
                            <button type="button" data-bs-target="#about-page" data-bs-slide-to="0" class="active">Home</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item" id="carousel-item-2">
            <div class="row">
                <!-- Image Column -->
                <div class="col-md-6">
                    <img class="d-block w-100" src="../../resources/img/zodiac/Gemini.png" alt="Zodiac Image">
                </div>
                <!-- Text Column -->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Gemini</h5>
                            <p class="card-text">"Adaptive and short tempered, people under the Gemini sign are often very flexible and listen to music that is diverse. They tend to listen to EDM or music from other media."</p>
                            <button type="button" data-bs-target="#about-page" data-bs-slide-to="0" class="active">Home</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item" id="carousel-item-2">
            <div class="row">
                <!-- Image Column -->
                <div class="col-md-6">
                    <img class="d-block w-100" src="../../resources/img/zodiac/Pisces.png" alt="Zodiac Image">
                </div>
                <!-- Text Column -->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Pisces</h5>
                            <p class="card-text">"Playful, kind, imaginative, and nurturing, people under the Pisces sign are creative and introspective. They tend to listen to relaxing or indie music."</p>
                            <button type="button" data-bs-target="#about-page" data-bs-slide-to="0" class="active">Home</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item" id="carousel-item-2">
            <div class="row">
                <!-- Image Column -->
                <div class="col-md-6">
                    <img class="d-block w-100" src="../../resources/img/zodiac/Aries.png" alt="Zodiac Image">
                </div>
                <!-- Text Column -->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Aries</h5>
                            <p class="card-text">"Competitive, tenacious, and self-aware, people under the Aries sign are assertive and bold. They tend to listen to metal and hip hop or rap music."</p>
                            <button type="button" data-bs-target="#about-page" data-bs-slide-to="0" class="active">Home</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item" id="carousel-item-2">
            <div class="row">
                <!-- Image Column -->
                <div class="col-md-6">
                    <img class="d-block w-100" src="../../resources/img/zodiac/Cancer.png" alt="Zodiac Image">
                </div>
                <!-- Text Column -->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Cancer</h5>
                            <p class="card-text">"Passionate, loyal, and selfless, people under the Cancer sign are often sentimental and nostalgic. They tend to listen to folk or romantic music."</p>
                            <button type="button" data-bs-target="#about-page" data-bs-slide-to="0" class="active">Home</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item" id="carousel-item-2">
            <div class="row">
                <!-- Image Column -->
                <div class="col-md-6">
                    <img class="d-block w-100" src="../../resources/img/zodiac/Capricorn.png" alt="Zodiac Image">
                </div>
                <!-- Text Column -->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Capricorn</h5>
                            <p class="card-text">"Determined, goal-oriented, and unforgiving, people under the Capricorn sign tend to listen to music that captures their level of discipline. They tend to listen to rock or classical music."</p>
                            <button type="button" data-bs-target="#about-page" data-bs-slide-to="0" class="active">Home</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item" id="carousel-item-2">
            <div class="row">
                <!-- Image Column -->
                <div class="col-md-6">
                    <img class="d-block w-100" src="../../resources/img/zodiac/Aquarius.png" alt="Zodiac Image">
                </div>
                <!-- Text Column -->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Aquarius</h5>
                            <p class="card-text">"Wise, inventive, introverted, and ambitious, people under the Aquarius sign tend to be forward-thinking and innovative. They tend to listen to trendy or punk music."</p>
                            <button type="button" data-bs-target="#about-page" data-bs-slide-to="0" class="active">Home</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    
    <button id="carousel-prev" class="carousel-control-prev" type="button" data-bs-target="#about-page" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden"></span>
    </button>
    <button id="carousel-next" class="carousel-control-next" type="button" data-bs-target="#about-page" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden"></span>
    </button>
    <div class="card-header">

</div>