<style>
    footer {
      background-color: #1DB954;
      color: white;
      padding: 5px;
      text-align: center;
      font-size: 14px;
      margin-top: auto; /* Push the footer to bottom */
      width: 100%; /* Ensure the footer fills the entire width */
      position: fixed; /* Fix the footer position */
      bottom: 0; /* Position the footer at the bottom of the viewport */
    }

    footer a {
      color: white;
      margin: 0 15px; /*margin between icons */
    }

    footer p {
      color: white;
      margin: 4px 0; /* margin between words and icons */
    }

    .social-icon {
      width: 30px;
      height: auto;
    }
</style>

<footer>
    <div class="container">
      {{!-- <p>Follow us on social media:</p> --}}
      {{!-- <a href="https://www.instagram.com/langston_denning?igsh=NXFtMHRneTJob3Jt&utm_source=qr"><img src="../../resources/img/insta.png" alt="Instagram" class="social-icon"></a> --}}
      <a href="https://open.spotify.com/user/31ll2763t4orlqbzgqw7rjtzrss4?si=2bfe8c6be0b84762"><img src="../../resources/img/spotify.png" alt="Spotify" class="social-icon"></a>
    </div>
</footer>